In [2]:
import pandas as pd
import numpy as np

In [3]:
df1=pd.read_excel(r"C:\Users\hp\OneDrive\Masaüstü\MO14-Round-1-Dealing-With-Data-Workbook (1) (1).xlsx", sheet_name="Usage",header=1)

C:\Users\hp\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [5]:
df1=df1.drop(["Unnamed: 0","Unnamed: 1"],axis=1)

In [11]:
datam1[datam1.notna()]

                                          Usage
0                5AM  15-Aug-2014___1.201  kwh
1          __8PM Thu 20-Mar-2014____1.523 kwh
2               6PM  23rd-Apr-2014___0.424  kwh
3     _1AM  Friday 19th-Dec-2014___0.209  kwh
4         _5AM  Tue 19th-Aug-2014___1.228  kwh
...                                         ...
8754         _1AM  Fri 07th-Nov-2014_0.084 kwh
8755                _6AM 20-May-2014__1.027 kwh
8756   __2 AM  Tuesday 8th-Apr-2014___0.052 kwh
8757            9 PM 27th-Jan-2014_1.428  kwh
8758          _12 PM 25th-Aug-2014_0.528  kwh

[8759 rows x 1 columns]

In [12]:
df1

                                          Usage
0                5AM  15-Aug-2014___1.201  kwh
1          __8PM Thu 20-Mar-2014____1.523 kwh
2               6PM  23rd-Apr-2014___0.424  kwh
3     _1AM  Friday 19th-Dec-2014___0.209  kwh
4         _5AM  Tue 19th-Aug-2014___1.228  kwh
...                                         ...
8754         _1AM  Fri 07th-Nov-2014_0.084 kwh
8755                _6AM 20-May-2014__1.027 kwh
8756   __2 AM  Tuesday 8th-Apr-2014___0.052 kwh
8757            9 PM 27th-Jan-2014_1.428  kwh
8758          _12 PM 25th-Aug-2014_0.528  kwh

[8759 rows x 1 columns]

In [13]:
df1["Usage"].str.split("-")

0                  [5AM  15, Aug, 2014___1.201  kwh ]
1            [__8PM Thu 20, Mar, 2014____1.523 kwh  ]
2               [  6PM  23rd, Apr, 2014___0.424  kwh]
3       [_1AM  Friday 19th, Dec, 2014___0.209  kwh  ]
4           [_5AM  Tue 19th, Aug, 2014___1.228  kwh ]
                            ...
8754           [_1AM  Fri 07th, Nov, 2014_0.084 kwh ]
8755                 [ _6AM 20, May, 2014__1.027 kwh]
8756    [ __2 AM  Tuesday 8th, Apr, 2014___0.052 kwh]
8757              [9 PM 27th, Jan, 2014_1.428  kwh  ]
8758           [ _12 PM 25th, Aug, 2014_0.528  kwh  ]
Name: Usage, Length: 8759, dtype: object

In [28]:
df1["Days"]=df1["Usage"].str.split("-").str[0].str.split(" ").str[-1]

In [29]:
df1["Month1"]=df1["Usage"].str.split("-").str[1]

In [30]:
df1["Year"]=df1["Usage"].str.split("-").str[2].str.split("_").str[0]

In [32]:
f1=df1["Days"].str.contains("rd")
f2=df1["Days"].str.contains("th")
f3=df1["Days"].str.contains("st")
f4=df1["Days"].str.contains("nd")

In [34]:
df1.loc[f1,"Days"]=datam1["Days"].str.replace("rd","")
df1.loc[f2,"Days"]=datam1["Days"].str.replace("th","")
df1.loc[f3,"Days"]=datam1["Days"].str.replace("st","")
df1.loc[f4,"Days"]=datam1["Days"].str.replace("nd","")

In [45]:
df1["Month1"]=df1["Month1"].str.strip()

In [50]:
df1["Year"]=df1["Year"].str.strip()

In [52]:
df1["Date"]=df1["Days"]+"-"+df1["Month1"]+"-"+df1["Year"]

In [59]:
df1["Date"]=pd.to_datetime(df1["Date"])

In [64]:
df1["Month2"]=df1["Date"].dt.month_name()

In [67]:
df1[df1["Month2"].isna()]

Empty DataFrame
Columns: [Usage, Days, Month1, Year, Date, Month2]
Index: []

In [79]:
df1["USAGE (kwh)"]=df1["Usage"].str.split("_").str[-1].str.strip().str.split("kwh").str[0].str.strip()

In [83]:
df1["Time"]=df1["Usage"].str.split("AM").str[0]

In [86]:
df1["Time"]=df1["Time"].str.split("PM").str[0]

In [90]:
df1["Time"]=df1["Time"].str.replace("_","").str.strip()

In [92]:
df1.loc[df1["Usage"].str.contains("AM"),"Time"]=df1["Time"]+":00 AM"
df1.loc[df1["Usage"].str.contains("PM"),"Time"]=df1["Time"]+":00 PM"

In [94]:
df2=df1

In [96]:
df2=df2.drop(["Usage","Days","Month1","Year"],axis=1)

In [97]:
df2

           Date    Month2 USAGE (kwh)      Time
0    2014-08-15    August       1.201   5:00 AM
1    2014-03-20     March       1.523   8:00 PM
2    2014-04-23     April       0.424   6:00 PM
3    2014-12-19  December       0.209   1:00 AM
4    2014-08-19    August       1.228   5:00 AM
...         ...       ...         ...       ...
8754 2014-11-07  November       0.084   1:00 AM
8755 2014-05-20       May       1.027   6:00 AM
8756 2014-04-08     April       0.052   2:00 AM
8757 2014-01-27   January       1.428   9:00 PM
8758 2014-08-25    August       0.528  12:00 PM

[8759 rows x 4 columns]

In [98]:
df3=pd.read_excel(r"C:\Users\hp\OneDrive\Masaüstü\MO14-Round-1-Dealing-With-Data-Workbook (1) (1).xlsx", sheet_name="Contracts", header=10)

C:\Users\hp\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [107]:
df3=df3.drop(0).reset_index(drop=True).drop(["Unnamed: 3","Unnamed: 7"],axis=1)

In [108]:
df3

,No Flex,Unnamed: 1,Unnamed: 2,Monthly Flex,Unnamed: 5,Unnamed: 6,Hourly Flex,Unnamed: 9,Unnamed: 10
0,Flat Rate,0.21,$/kWh,January,0.20,$/kWh,12AM until 1AM,0.10,$/kWh
1,NaN,NaN,NaN,February,0.19,$/kWh,1AM until 2AM,0.10,$/kWh
2,NaN,NaN,NaN,March,0.17,$/kWh,2AM until 3AM,0.10,$/kWh
3,NaN,NaN,NaN,April,0.18,$/kWh,3AM until 4AM,0.10,$/kWh
4,NaN,NaN,NaN,May,0.22,$/kWh,4AM until 5AM,0.15,$/kWh
5,NaN,NaN,NaN,June,0.27,$/kWh,5AM until 6AM,0.20,$/kWh
6,NaN,NaN,NaN,July,0.24,$/kWh,6AM until 7AM,0.24,$/kWh
7,NaN,NaN,NaN,August,0.19,$/kWh,7AM until 8AM,0.24,$/kWh
8,NaN,NaN,NaN,September,0.18,$/kWh,8AM until 9AM,0.26,$/kWh
9,NaN,NaN,NaN,October,0.15,$/kWh,9AM until 10AM,0.20,$/kWh
10,NaN,NaN,NaN,November,0.14,$/kWh,10AM until 11AM,0.20,$/kWh
11,NaN,NaN,NaN,December,0.19,$/kWh,11AM until 12PM,0.26,$/kWh
12,NaN,NaN,NaN,NaN,NaN,NaN,12PM until 1PM,0.26,$/kWh
13,NaN,NaN,NaN,NaN,NaN,NaN,1PM until 2PM,0.20,$/kWh
14,NaN,NaN,NaN,NaN,NaN,NaN,2PM until 3PM,0.24,$/kWh
15,NaN,NaN,NaN,NaN,NaN,NaN,3PM until 4PM,0.18,$/kWh
16,NaN,NaN,NaN,NaN,NaN,NaN,4PM until 5PM,0.15,$/kWh
17,NaN,NaN,NaN,NaN,NaN,NaN,5PM until 6PM,0.30,$/kWh
18,NaN,NaN,NaN,NaN,NaN,NaN,6PM until 7PM,0.24,$/kWh
19,NaN,NaN,NaN,NaN,NaN,NaN,7PM until 8PM,0.24,$/kWh
20,NaN,NaN,NaN,NaN,NaN,NaN,8PM until 9PM,0.12,$/kWh
21,NaN,NaN,NaN,NaN,NaN,NaN,9PM until 10PM,0.11,$/kWh
22,NaN,NaN,NaN,NaN,NaN,NaN,10PM until 11PM,0.10,$/kWh
23,NaN,NaN,NaN,NaN,NaN,NaN,11PM until 12AM,0.10,$/kWh

In [110]:
df2["No Flex"]=0.21

In [113]:
df2["Monthly Flex"]=""

In [114]:
df2["Hourly Flex"]=""

In [115]:
df2

,Date,Month2,USAGE (kwh),Time,No Flex,Monthly Flex,Hourly Flex
0,2014-08-15,August,1.201,5:00 AM,0.21,,
1,2014-03-20,March,1.523,8:00 PM,0.21,,
2,2014-04-23,April,0.424,6:00 PM,0.21,,
3,2014-12-19,December,0.209,1:00 AM,0.21,,
4,2014-08-19,August,1.228,5:00 AM,0.21,,
...,...,...,...,...,...,...,...
8754,2014-11-07,November,0.084,1:00 AM,0.21,,
8755,2014-05-20,May,1.027,6:00 AM,0.21,,
8756,2014-04-08,April,0.052,2:00 AM,0.21,,
8757,2014-01-27,January,1.428,9:00 PM,0.21,,
8758,2014-08-25,August,0.528,12:00 PM,0.21,,

In [126]:
df3.loc[df3["Hourly Flex"].str.contains("AM"),"Hourly Flex"]=df3["Hourly Flex"].str.split("until").str[0].str.split("A").str[0]+":00 AM"

In [127]:
df3.loc[df3["Hourly Flex"].str.contains("PM"),"Hourly Flex"]=df3["Hourly Flex"].str.split("until").str[0].str.split("P").str[0]+":00 PM"

In [128]:
df3

,No Flex,Unnamed: 1,Unnamed: 2,Monthly Flex,Unnamed: 5,Unnamed: 6,Hourly Flex,Unnamed: 9,Unnamed: 10
0,Flat Rate,0.21,$/kWh,January,0.20,$/kWh,12:00 AM,0.10,$/kWh
1,NaN,NaN,NaN,February,0.19,$/kWh,1:00 AM,0.10,$/kWh
2,NaN,NaN,NaN,March,0.17,$/kWh,2:00 AM,0.10,$/kWh
3,NaN,NaN,NaN,April,0.18,$/kWh,3:00 AM,0.10,$/kWh
4,NaN,NaN,NaN,May,0.22,$/kWh,4:00 AM,0.15,$/kWh
5,NaN,NaN,NaN,June,0.27,$/kWh,5:00 AM,0.20,$/kWh
6,NaN,NaN,NaN,July,0.24,$/kWh,6:00 AM,0.24,$/kWh
7,NaN,NaN,NaN,August,0.19,$/kWh,7:00 AM,0.24,$/kWh
8,NaN,NaN,NaN,September,0.18,$/kWh,8:00 AM,0.26,$/kWh
9,NaN,NaN,NaN,October,0.15,$/kWh,9:00 AM,0.20,$/kWh
10,NaN,NaN,NaN,November,0.14,$/kWh,10:00 AM,0.20,$/kWh
11,NaN,NaN,NaN,December,0.19,$/kWh,11:00 AM,0.26,$/kWh
12,NaN,NaN,NaN,NaN,NaN,NaN,12:00 PM,0.26,$/kWh
13,NaN,NaN,NaN,NaN,NaN,NaN,1:00 PM,0.20,$/kWh
14,NaN,NaN,NaN,NaN,NaN,NaN,2:00 PM,0.24,$/kWh
15,NaN,NaN,NaN,NaN,NaN,NaN,3:00 PM,0.18,$/kWh
16,NaN,NaN,NaN,NaN,NaN,NaN,4:00 PM,0.15,$/kWh
17,NaN,NaN,NaN,NaN,NaN,NaN,5:00 PM,0.30,$/kWh
18,NaN,NaN,NaN,NaN,NaN,NaN,6:00 PM,0.24,$/kWh
19,NaN,NaN,NaN,NaN,NaN,NaN,7:00 PM,0.24,$/kWh
20,NaN,NaN,NaN,NaN,NaN,NaN,8:00 PM,0.12,$/kWh
21,NaN,NaN,NaN,NaN,NaN,NaN,9:00 PM,0.11,$/kWh
22,NaN,NaN,NaN,NaN,NaN,NaN,10:00 PM,0.10,$/kWh
23,NaN,NaN,NaN,NaN,NaN,NaN,11:00 PM,0.10,$/kWh

In [131]:
list(df3["Monthly Flex"].unique())

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December',
 nan]

In [136]:
Month_dict={}
for i in range(len(df3["Monthly Flex"].unique())):
    Month_dict[list(df3["Monthly Flex"].unique())[i]]=datam555["Unnamed: 5"][i]

In [140]:
Month_dict

{'January': 0.2,
 'February': 0.19,
 'March': 0.17,
 'April': 0.18,
 'May': 0.22,
 'June': 0.27,
 'July': 0.24,
 'August': 0.19,
 'September': 0.18,
 'October': 0.15,
 'November': 0.14,
 'December': 0.19,
 nan: nan}

In [141]:
for b in range(len(Month_dict)):
    df2.loc[datam2["Month2"]==list(Month_dict.keys())[b],"Monthly Flex"]=list(Month_dict.values())[b]

In [152]:
df2["Monthly Flex"]=pd.to_numeric(df2["Monthly Flex"])

In [154]:
df2[df2["Monthly Flex"].isna()]

Empty DataFrame
Columns: [Date, Month2, USAGE (kwh), Time, No Flex, Monthly Flex, Hourly Flex]
Index: []

In [155]:
df2

,Date,Month2,USAGE (kwh),Time,No Flex,Monthly Flex,Hourly Flex
0,2014-08-15,August,1.201,5:00 AM,0.21,0.19,
1,2014-03-20,March,1.523,8:00 PM,0.21,0.17,
2,2014-04-23,April,0.424,6:00 PM,0.21,0.18,
3,2014-12-19,December,0.209,1:00 AM,0.21,0.19,
4,2014-08-19,August,1.228,5:00 AM,0.21,0.19,
...,...,...,...,...,...,...,...
8754,2014-11-07,November,0.084,1:00 AM,0.21,0.14,
8755,2014-05-20,May,1.027,6:00 AM,0.21,0.22,
8756,2014-04-08,April,0.052,2:00 AM,0.21,0.18,
8757,2014-01-27,January,1.428,9:00 PM,0.21,0.20,
8758,2014-08-25,August,0.528,12:00 PM,0.21,0.19,

In [156]:
df3

,No Flex,Unnamed: 1,Unnamed: 2,Monthly Flex,Unnamed: 5,Unnamed: 6,Hourly Flex,Unnamed: 9,Unnamed: 10
0,Flat Rate,0.21,$/kWh,January,0.20,$/kWh,12:00 AM,0.10,$/kWh
1,NaN,NaN,NaN,February,0.19,$/kWh,1:00 AM,0.10,$/kWh
2,NaN,NaN,NaN,March,0.17,$/kWh,2:00 AM,0.10,$/kWh
3,NaN,NaN,NaN,April,0.18,$/kWh,3:00 AM,0.10,$/kWh
4,NaN,NaN,NaN,May,0.22,$/kWh,4:00 AM,0.15,$/kWh
5,NaN,NaN,NaN,June,0.27,$/kWh,5:00 AM,0.20,$/kWh
6,NaN,NaN,NaN,July,0.24,$/kWh,6:00 AM,0.24,$/kWh
7,NaN,NaN,NaN,August,0.19,$/kWh,7:00 AM,0.24,$/kWh
8,NaN,NaN,NaN,September,0.18,$/kWh,8:00 AM,0.26,$/kWh
9,NaN,NaN,NaN,October,0.15,$/kWh,9:00 AM,0.20,$/kWh
10,NaN,NaN,NaN,November,0.14,$/kWh,10:00 AM,0.20,$/kWh
11,NaN,NaN,NaN,December,0.19,$/kWh,11:00 AM,0.26,$/kWh
12,NaN,NaN,NaN,NaN,NaN,NaN,12:00 PM,0.26,$/kWh
13,NaN,NaN,NaN,NaN,NaN,NaN,1:00 PM,0.20,$/kWh
14,NaN,NaN,NaN,NaN,NaN,NaN,2:00 PM,0.24,$/kWh
15,NaN,NaN,NaN,NaN,NaN,NaN,3:00 PM,0.18,$/kWh
16,NaN,NaN,NaN,NaN,NaN,NaN,4:00 PM,0.15,$/kWh
17,NaN,NaN,NaN,NaN,NaN,NaN,5:00 PM,0.30,$/kWh
18,NaN,NaN,NaN,NaN,NaN,NaN,6:00 PM,0.24,$/kWh
19,NaN,NaN,NaN,NaN,NaN,NaN,7:00 PM,0.24,$/kWh
20,NaN,NaN,NaN,NaN,NaN,NaN,8:00 PM,0.12,$/kWh
21,NaN,NaN,NaN,NaN,NaN,NaN,9:00 PM,0.11,$/kWh
22,NaN,NaN,NaN,NaN,NaN,NaN,10:00 PM,0.10,$/kWh
23,NaN,NaN,NaN,NaN,NaN,NaN,11:00 PM,0.10,$/kWh

In [159]:
hour_dict={}
for c in range(len(df3["Hourly Flex"].unique())):
    hour_dict[list(df3["Hourly Flex"].unique())[c]]=df3["Unnamed: 9"][c]

In [160]:
hour_dict

{'12:00 AM': 0.1,
 '1:00 AM': 0.1,
 '2:00 AM': 0.1,
 '3:00 AM': 0.1,
 '4:00 AM': 0.15,
 '5:00 AM': 0.2,
 '6:00 AM': 0.24,
 '7:00 AM': 0.24,
 '8:00 AM': 0.26,
 '9:00 AM': 0.2,
 '10:00 AM': 0.2,
 '11:00 AM': 0.26,
 '12:00 PM': 0.26,
 '1:00 PM': 0.2,
 '2:00 PM': 0.24,
 '3:00 PM': 0.18,
 '4:00 PM': 0.15,
 '5:00 PM': 0.3,
 '6:00 PM': 0.24,
 '7:00 PM': 0.24,
 '8:00 PM': 0.12,
 '9:00 PM': 0.11,
 '10:00 PM': 0.1,
 '11:00 PM': 0.1}

In [161]:
for d in range(len(hour_dict)):
    df2.loc[df2["Time"]==list(hour_dict.keys())[d],"Hourly Flex"]=list(hour_dict.values())[d]

In [162]:
df2

,Date,Month2,USAGE (kwh),Time,No Flex,Monthly Flex,Hourly Flex
0,2014-08-15,August,1.201,5:00 AM,0.21,0.19,0.2
1,2014-03-20,March,1.523,8:00 PM,0.21,0.17,0.12
2,2014-04-23,April,0.424,6:00 PM,0.21,0.18,0.24
3,2014-12-19,December,0.209,1:00 AM,0.21,0.19,0.1
4,2014-08-19,August,1.228,5:00 AM,0.21,0.19,0.2
...,...,...,...,...,...,...,...
8754,2014-11-07,November,0.084,1:00 AM,0.21,0.14,0.1
8755,2014-05-20,May,1.027,6:00 AM,0.21,0.22,0.24
8756,2014-04-08,April,0.052,2:00 AM,0.21,0.18,0.1
8757,2014-01-27,January,1.428,9:00 PM,0.21,0.20,0.11
8758,2014-08-25,August,0.528,12:00 PM,0.21,0.19,0.26

In [164]:
df2["Hourly Flex"]=pd.to_numeric(df2["Hourly Flex"])

In [166]:
df2["No Flex"]=pd.to_numeric(df2["No Flex"])

In [168]:
df2["USAGE (kwh)"]=pd.to_numeric(df2["USAGE (kwh)"])

In [169]:
df2

,Date,Month2,USAGE (kwh),Time,No Flex,Monthly Flex,Hourly Flex
0,2014-08-15,August,1.201,5:00 AM,0.21,0.19,0.20
1,2014-03-20,March,1.523,8:00 PM,0.21,0.17,0.12
2,2014-04-23,April,0.424,6:00 PM,0.21,0.18,0.24
3,2014-12-19,December,0.209,1:00 AM,0.21,0.19,0.10
4,2014-08-19,August,1.228,5:00 AM,0.21,0.19,0.20
...,...,...,...,...,...,...,...
8754,2014-11-07,November,0.084,1:00 AM,0.21,0.14,0.10
8755,2014-05-20,May,1.027,6:00 AM,0.21,0.22,0.24
8756,2014-04-08,April,0.052,2:00 AM,0.21,0.18,0.10
8757,2014-01-27,January,1.428,9:00 PM,0.21,0.20,0.11
8758,2014-08-25,August,0.528,12:00 PM,0.21,0.19,0.26

In [211]:
df2.to_excel(r"C:\Users\hp\OneDrive\Masaüstü\Final Project\d_usage.xlsx")

In [212]:
df3.to_excel(r"C:\Users\hp\OneDrive\Masaüstü\Final Project\d.contracts.xlsx")

In [174]:
df2

,Date,Month2,USAGE (kwh),Time,No Flex,Monthly Flex,Hourly Flex
0,2014-08-15,August,1.201,5:00 AM,0.21,0.19,0.20
1,2014-03-20,March,1.523,8:00 PM,0.21,0.17,0.12
2,2014-04-23,April,0.424,6:00 PM,0.21,0.18,0.24
3,2014-12-19,December,0.209,1:00 AM,0.21,0.19,0.10
4,2014-08-19,August,1.228,5:00 AM,0.21,0.19,0.20
...,...,...,...,...,...,...,...
8754,2014-11-07,November,0.084,1:00 AM,0.21,0.14,0.10
8755,2014-05-20,May,1.027,6:00 AM,0.21,0.22,0.24
8756,2014-04-08,April,0.052,2:00 AM,0.21,0.18,0.10
8757,2014-01-27,January,1.428,9:00 PM,0.21,0.20,0.11
8758,2014-08-25,August,0.528,12:00 PM,0.21,0.19,0.26

In [175]:
df3

,No Flex,Unnamed: 1,Unnamed: 2,Monthly Flex,Unnamed: 5,Unnamed: 6,Hourly Flex,Unnamed: 9,Unnamed: 10
0,Flat Rate,0.21,$/kWh,January,0.20,$/kWh,12:00 AM,0.10,$/kWh
1,NaN,NaN,NaN,February,0.19,$/kWh,1:00 AM,0.10,$/kWh
2,NaN,NaN,NaN,March,0.17,$/kWh,2:00 AM,0.10,$/kWh
3,NaN,NaN,NaN,April,0.18,$/kWh,3:00 AM,0.10,$/kWh
4,NaN,NaN,NaN,May,0.22,$/kWh,4:00 AM,0.15,$/kWh
5,NaN,NaN,NaN,June,0.27,$/kWh,5:00 AM,0.20,$/kWh
6,NaN,NaN,NaN,July,0.24,$/kWh,6:00 AM,0.24,$/kWh
7,NaN,NaN,NaN,August,0.19,$/kWh,7:00 AM,0.24,$/kWh
8,NaN,NaN,NaN,September,0.18,$/kWh,8:00 AM,0.26,$/kWh
9,NaN,NaN,NaN,October,0.15,$/kWh,9:00 AM,0.20,$/kWh
10,NaN,NaN,NaN,November,0.14,$/kWh,10:00 AM,0.20,$/kWh
11,NaN,NaN,NaN,December,0.19,$/kWh,11:00 AM,0.26,$/kWh
12,NaN,NaN,NaN,NaN,NaN,NaN,12:00 PM,0.26,$/kWh
13,NaN,NaN,NaN,NaN,NaN,NaN,1:00 PM,0.20,$/kWh
14,NaN,NaN,NaN,NaN,NaN,NaN,2:00 PM,0.24,$/kWh
15,NaN,NaN,NaN,NaN,NaN,NaN,3:00 PM,0.18,$/kWh
16,NaN,NaN,NaN,NaN,NaN,NaN,4:00 PM,0.15,$/kWh
17,NaN,NaN,NaN,NaN,NaN,NaN,5:00 PM,0.30,$/kWh
18,NaN,NaN,NaN,NaN,NaN,NaN,6:00 PM,0.24,$/kWh
19,NaN,NaN,NaN,NaN,NaN,NaN,7:00 PM,0.24,$/kWh
20,NaN,NaN,NaN,NaN,NaN,NaN,8:00 PM,0.12,$/kWh
21,NaN,NaN,NaN,NaN,NaN,NaN,9:00 PM,0.11,$/kWh
22,NaN,NaN,NaN,NaN,NaN,NaN,10:00 PM,0.10,$/kWh
23,NaN,NaN,NaN,NaN,NaN,NaN,11:00 PM,0.10,$/kWh

# Analysis

In [178]:
#1) What is your average hourly electricity usage?
df2["USAGE (kwh)"].mean()

0.7819233930813966

In [184]:
#2 What is your average electricity usage  per hour in February?
df2[df2["Month2"]=="February"]["USAGE (kwh)"].mean()

0.8329151785714302

In [192]:
#3 What day of the week has the highest average usage?
df2["Week_name"]=df2["Date"].dt.day_name()

# (sunday has the highest average usage)

In [201]:
df2.groupby("Week_name").agg({"USAGE (kwh)":"mean"})

           USAGE (kwh)
Week_name
Friday        0.753744
Monday        0.726219
Saturday      0.890764
Sunday        0.898157
Thursday      0.745458
Tuesday       0.726058
Wednesday     0.733943

In [206]:
#4 Based on your historicelectricity usage, what would your annual cost of electricity be under the "Monthly Flex" contract?
(df2["USAGE (kwh)"]*df2["Monthly Flex"]).sum()

1421.75568

In [207]:
#5 Based on your historicelectricity usage, what would your annual cost of electricity be under the "Hourly Flex" contract?
(df2["USAGE (kwh)"]*df2["Hourly Flex"]).sum()

1369.29151

In [210]:
#6 Based on your historicelectricity usage, which of the three contracts will produce the lowest annual cost?
(df2["USAGE (kwh)"]*df2["No Flex"]).sum()

# 'the hourly flex' contract is the answer

1438.26207